<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
  </head>

  <body>
    <header>
      <!-- <img src="./assets/pokeball.svg" alt="pokedex"> -->
      <img class="pika" src="https://vignette.wikia.nocookie.net/pokemon/images/d/d0/Ash_Pikachu_Anime.png/revision/latest?cb=20110526013016" alt="pokedex">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="pokedex">
      <img class="ash" src="https://qph.fs.quoracdn.net/main-qimg-8c0e212e53d3ad058e8af63669995f71" alt="pokedex">
    </header>

    <%= yield %>
  </body>
</html>
